//Abstracts import
@use '../abstracts/index'as a;

@use '../components/resets';

@mixin underline() {
    border-bottom: 1px solid rgba(182, 182, 182, 0.5);
}

@mixin boxShadowInset() {
    box-shadow: inset 0 0 0 0 a.$blueCompliment;
    transition: all .1s ease-in-out;
}

@mixin boxShadowInsetHover($insetWidth) {
    cursor: pointer;
    // box-shadow: inset 85px 0 0 0 a.$blueCompliment;
    box-shadow: inset $insetWidth 0 0 0 a.$blueCompliment;
}

body {
    background-color: a.$background;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .todo-fixed-container {
        font-family: a.$mainFont;
        font-size: a.$fontSizeMain;
        position: relative;
        min-width: 300px;
        max-width: 800px;
        height: 100vh;
        max-height: 800px;
        overflow-y: hidden;

        .todo-header {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            height: 60px;
            width: 100%;
            z-index: 100;
            background-color: a.$primary;
            border-radius: 10px 10px 0 0;
            @include underline();

            .todo-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .todo-number {
                    width: 20px;
                    height: 20px;
                    background-color: a.$btn;
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: a.$background;
                    border-radius: 5px;
                    font-size: a.$fontSizeSub;
                }
            }

            .todo-header-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .clear-btn {
                background-color: a.$btn;
                padding: 0 10px;
                border: none;
                width: 85px;
                color: a.$primary;
                border-radius: 5px;
                @include boxShadowInset();

                &:hover {
                    @include boxShadowInsetHover(85px);
                }
            }

            .add-btn {
                height: 30px;
                width: 30px;
                margin-left: 20px;
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: a.$fontSizeAdd;
                    color: a.$btn;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .todo-container {
            // position: relative;
            // display: none;
            background-color: a.$primary;
            height: 100vh;
            max-height: 800px;
            min-height: 260px;
            box-shadow: 5px 5px 20px 5px #e7e6e6;
            overflow-y: scroll;
            border-radius: 10px;

            &::-webkit-scrollbar {
                display: none;
            }

            .todo-items {
                margin-top: 60px;
            }

            .todo-items,
            .todo-completed-items {
                position: relative;
                padding: 20px;
            }

            .modal-appear {
                opacity: 1;
                transform: translateY(0px);
            }

            .todo-item,
            .todo-completed-item {
                position: relative;
                display: grid;
                grid-template-columns: 1fr fit-content(20%);
                grid-auto-rows: minmax(35px, auto);
                align-items: center;
                padding: 5px 5px;
                color: a.$primaryText;
                border-radius: 5px;
                @include underline();

                &:hover {
                    background-color: a.$btn20;
                }

                .fa-ellipsis {
                    width: 30px;
                    color: a.$descText;
                    display: flex;
                    justify-content: center;
                    font-size: a.$fontSizeElipsis;
                    transition: all .1s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        color: #B9ABCF;
                    }
                }

                .list-item-description {
                    grid-column: 1/2;
                    font-size: a.$fontSizeDesc;
                    color: a.$descText;
                }
            }

            .todo-completed-items {
                &::before {
                    content: "Completed";
                    padding: 5px;
                    font-size: a.$fontSizeSub;
                }
            }

            .todo-completed-item {
                filter: grayscale(1);
                opacity: 0.4;
            }
        }

        .todo-modal {
            background-color: a.$primary;
            background-color: brown;
            position: absolute;
            bottom: 0;
            left: 0;
            display: grid;
            width: 100%;
            max-height: 200px;
            padding: 10px 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 2fr 1fr;
            align-items: center;
            border-radius: 5px 5px 0 0;
            color: a.$descText;
            transition: all .2s ease-in-out;
            transform: translateY(200px);
            opacity: 1;

            #todo-input-title,
            #todo-input-description {
                grid-column: 1/8;
                margin: 5px 0;
                border: transparent;
                color: inherit;
            }

            #todo-input-title {
                grid-row: 1/2
            }

            #todo-input-description {
                font-size: a.$fontSizeDesc;
                overflow: scroll;

                grid-row: 2/4;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            #todo-modal-cancel,
            #todo-modal-submit {
                grid-row: 4/5;
                // height: 100%;
                width: 100%;
                max-width: 110px;
                margin: 0 5px;
                padding: 5px 0;
                font-size: a.$fontSizeSub;
                border: transparent;
                border-radius: 5px;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                @include boxShadowInset();
            }

            #todo-modal-cancel {
                grid-column: 4/6;
                background-color: a.$primary;
                color: a.$descText;
            }

            #todo-modal-submit {
                grid-column: 6/8;
                background-color: a.$btn;
                color: a.$primary;

                &:hover {
                    @include boxShadowInsetHover(110px);
                }
            }
        }
    }
}