// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$mainFont: 'Poppins',
sans-seriff;

$fontSizeMain: 1.5rem;
$fontSizeElipsis: 2rem;
$fontSizeSub: 1rem;
$fontSizeDesc: 0.8rem;